body {
  background-color: #161615;
  font-family: Roboto, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

#search-min {
  color: white;
  position: relative;
  top: 7.9em;
  width: fit-content;
  left: 0.7em;
  z-index: 999;
  background-color: #161615;
  height: max-content;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
}

#results-min {
  color: white;
  position: relative;
  display: inline;
  top: 0.5em;
  left: 0.7em;
  z-index: 999;
  font-size: medium;
  background-color: #161615;
  height: max-content;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
}
.none {
  cursor: unset;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding: 10px;
}
#logo-text {
  position: relative;
  right: 5.9em;
  font-size: 3em;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: normal;
  text-transform: capitalize;
  transition: background-color 2s ease-in;
  cursor: pointer;
  width: fit-content;
  height: max-content;
  z-index: 0;
}
#logo-text:hover {
  text-shadow: 0 0 4px #eee;
}
#pushift-descript {
  color: #aaa;
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: 2em;
  position: relative;
  right: 6.8em;
  bottom: 2em;
  font-family: "Open Sans Condensed", sans-serif;
  width: fit-content;
}
#pushift-descript:hover {
  text-shadow: 0 0 4px #eee;
}
#logo-parent {
  display: flex;
  justify-content: center;
  height: fit-content;
}
#logo {
  color: #fff;
  position: relative;
  bottom: 1.5em;
}
#icon {
  font-size: 1.1em;
  width: fit-content;
  z-index: 0;
}

li {
  list-style: none;
  font-size: 15px;
}
a {
  color: #aaa;
}
nav {
  position: relative;
  bottom: 7em;
  right: 23.8em;
  box-sizing: border-box;
}

#search-form {
  margin-top: -14.5em;
  display: flex;
  justify-content: center;
}
ul li {
  padding: 1px;
  box-sizing: border-box;
  font-size: medium;
}
.non-active {
  padding: 8px;
  color: rgba(255, 255, 255, 0.486);

  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.active {
  color: #eee !important;
  padding: 8px;

  border-bottom: 4px solid #eee;
}

* {
  box-sizing: border-box;
}
#items-parent {
  display: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  display: none;
}

body {
  overflow-x: hidden;
}
.fa {
  font-size: small;
  color: white;
}
::-webkit-scrollbar-track {
  background: #7c7c7b;
  border-radius: 8px;
  border-radius: 8px;
  z-index: 999;
}

::-webkit-scrollbar-thumb {
  background: #50504f;
  border-radius: 8px;
  z-index: 999;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 999;
}
@media only screen and (max-width: 1200px) {
  nav {
    bottom: 7em;
    right: 19em;
  }
  #logo-text {
    right: 4.3em;
  }
  #pushift-descript {
    right: 4.38em;
  }
}
@media only screen and (max-width: 900px) {
  nav {
    bottom: 7em;
    right: 15.6em;
  }
  #logo-text {
    right: 4.5em;
    font-size: 2.5em;
  }
  #pushift-descript {
    right: 5.2em;
    font-size: 1.5em;
    bottom: 2.6em;
  }
}
@media only screen and (max-width: 780px) {
  nav {
    bottom: 7em;
    right: 12.6em;
  }
  #logo-text {
    right: 3.5em;
    font-size: 2.5em;
  }
  #pushift-descript {
    right: 3.5em;
    font-size: 1.5em;
    bottom: 2.6em;
  }
}
@media only screen and (max-width: 620px) {
  nav {
    bottom: 7em;
    right: 8em;
  }
  #logo-text {
    left: -1.4em;
    font-size: 2.5em;
  }
  #pushift-descript {
    right: 0.05em;
    font-size: 1.5em;
    bottom: 2.6em;
  }
}
@media only screen and (max-width: 450px) {
  nav {
    bottom: 7em;
    right: 5.6em;
  }
  #logo-text {
    left: -0.4em;
    font-size: 2.3em;
    bottom: 0.4em;
  }
  #pushift-descript {
    right: -1.5em;
    font-size: 1.5em;
    bottom: 3.3em;
  }
}
