#item-parent {
  border: 1px rgba(255, 255, 255, 0.473) solid;
  border-radius: 10px;
  padding: 5px;
  width: 900px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-height: 45em;
  min-height: 5px;
  display: none;
  overflow: auto;
  overflow-x: hidden;
  z-index: 9999;
  display: flex;
}
#loader-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #444;
  padding: 10px;
  justify-content: center;
  width: 875px;
}
/* #left-wrapper {
  display: inline-block;
}
#upvote {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #292928;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  margin: 10px;
}
#score {
  margin: 1px;
}
.author {
  font-weight: 700;
}
.sub {
  font-weight: 700;
} */

#results-minimize {
  max-height: 0;
  -webkit-transition: all 0.5s -0.1s ease-out;
  -moz-transition: all 0.5s -0.1s ease-out;
  -o-transition: all 0.5s -0.1s ease-out;
  -ms-transition: all 0.5s -0.1s ease-out;
  transition: all 0.5s -0.1s ease-out;
  overflow: hidden !important;
  display: none;
}
#item-hover {
  border: 1px rgba(255, 255, 255, 0.473) solid;
  border-radius: 10px;
  padding: 5px;
  width: 900px;
  padding-right: 100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: max-content;
  min-height: 5px;
}
#item-hover:hover {
  border: 1px rgba(255, 255, 255, 0.815) solid;
}
#submission-wrapper {
  display: flex;
}

#results-maximize {
  max-height: fit-content;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden !important;
}

.parent {
  position: relative;
  background-color: #1b1b1c;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 10px;
  color: #f3f3f3;
  font-size: 0.9em;
  font-weight: 400;
  border: 1px solid #444;
  border-radius: 8px;
  margin-top: 8px;
  font-family: Roboto, sans-serif !important;

  white-space: pre;
  word-wrap: break-word;
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* ancient Opera */
  white-space: -o-pre-wrap; /* newer Opera */
  white-space: pre-wrap; /* Chrome; W3C standard */
  word-wrap: break-word; /* IE */
}
/* 
img {
  max-height: 100% !important;
  max-width: 60px !important;
  min-width: 80px;
  min-height: 70px;
  position: relative;
  object-fit: cover;
  border: 0.5px solid #eee;
}

h4 {
  text-align: center;
  display: none;
  color: black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

#left-panel {
  color: rgb(175, 172, 172);
  width: 70px;
  position: relative;
  float: left;
  display: flex;
  flex-direction: row;
  text-transform: lowercase;
  text-align: justify;
  font-size: x-small;
  display: flex;

  right: 9px;
  font-size: 0.77em;
}

span {
  margin: 8px;
  white-space: nowrap;
}
#body {
  line-height: normal;
  margin-top: 0;
  position: relative;
  bottom: 5px;
  background-color: #292928;
  padding: 8px;
  border-radius: 10px;
  max-height: 20em;
  overflow: auto;
}
#body-parent {
  position: relative;
}
a {
  all: unset;
  cursor: pointer;
}
#title {
  font-weight: bold;
  font-size: medium;
  position: relative;
  color: #eee;
  margin: 5px;
}
.title-container {
  display: inline-block;
  word-break: break-word;
  margin: 5px;
}
#submission-parent {
  display: flex;
  flex-direction: row;
}
h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#view-on-reddit {
  position: relative;
  bottom: 1em;
  font-size: 0.85em;
  color: rgb(175, 172, 172);
  width: fit-content;
  left: 7px;
}
#view-on-reddit:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(175, 172, 172);
}
#submission-image {
  border-radius: 8px;
}
#more {
  max-width: 70em;
  background-color: #f8f8f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer !important;
  margin-top: 5px;
  border: none;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/

#more:hover {
  background-color: #f3f3f3d5;
}
/* #more-parent {
  display: flex;
  justify-content: center;
} */

/* #center {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: medium;
} */
h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.details {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
}
#domain {
  color: rgb(175, 172, 172);
  font-size: 12px;
}
a {
  all: unset;
  cursor: pointer;
}
#details-child {
  position: relative;
  color: rgb(175, 172, 172);
  position: relative;
  float: left;
  text-transform: lowercase;
  word-wrap: break-word;
  flex: 1;
}
.author {
  font-weight: 700;
}
.subreddit {
  font-weight: 700;
}

#body {
  line-height: normal;
  position: relative;
  background-color: #292928;
  padding: 8px;
  border-radius: 4px;
  max-height: 20em;
  overflow: auto;
  width: 101.1%;
  margin: 0;
  font-size: 16px;
  color: white;
}

#body-parent {
  position: relative;
}
#upvote {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #292928;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 4px;
  margin: 3px 0 0;
}
#view-on-reddit {
  position: relative;
  color: rgb(175, 172, 172);
  width: fit-content;
  font-weight: 700;
}
#view-on-reddit:hover {
  text-decoration: underline;
}
img {
  max-width: 80px !important;
  min-height: 100%;
  max-height: 80px;

  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
}
#self-post {
  max-width: 80px !important;
  min-height: 80px;
  max-height: 100%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
  background-color: grey;
  filter: brightness(0.75);
}
#nsfw {
  max-width: 80px !important;
  min-height: 80px;
  max-height: 100%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
  background-color: grey;
  filter: brightness(0.75);
}
#nsfw .fa {
  font-size: 60px;
  display: flex;
  align-items: center;
  color: #eee;
}
#image-child {
  margin-right: 5px;
}
#title {
  font-size: 1.1em;
  margin: 0 0;
  word-break: break-word;
  color: #eee;
}
#self-post .fa {
  font-size: 60px;
  display: flex;
  align-items: center;
  color: #eee;
}
.image-parent {
  display: flex;
}
#align-vertically {
  display: flex;
  flex-direction: column;
}
.details > * {
  margin: 3px 0;
}

.details a {
  font-size: 12px;
}
