#item-parent {
  border: 1px rgba(255, 255, 255, 0.473) solid;
  border-radius: 10px;
  padding: 5px;
  width: 960px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-height: 85vh !important;
  min-height: 5px;
  display: none;
  overflow: auto;
  overflow-x: hidden;
  z-index: 9999;
  display: flex;
}

#loader-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #444;
  padding: 10px;
  justify-content: center;
  width: 938px;
}
.footer {
  display: flex;
  padding-bottom: 5px;
}

#results-minimize {
  max-height: 0;
  -webkit-transition: all 0.5s -0.1s ease-out;
  -moz-transition: all 0.5s -0.1s ease-out;
  -o-transition: all 0.5s -0.1s ease-out;
  -ms-transition: all 0.5s -0.1s ease-out;
  transition: all 0.5s -0.1s ease-out;
  overflow: hidden !important;
  display: none;
}
#item-hover {
  border: 1px rgba(255, 255, 255, 0.473) solid;
  border-radius: 10px;
  padding: 5px;
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: max-content;
  min-height: 5px;
}
#item-hover:hover {
  border: 1px rgba(255, 255, 255, 0.815) solid;
}
#submission-wrapper {
  display: flex;
}

#results-maximize {
  max-height: fit-content;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden !important;
}

.parent {
  position: relative;
  background-color: #1b1b1c;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 10px;
  color: #f3f3f3;
  font-size: 0.9em;
  font-weight: 400;
  border: 1px solid #444;
  border-radius: 8px;
  margin-top: 8px;
  font-family: Roboto, sans-serif !important;

  white-space: pre;
  word-wrap: break-word;
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* ancient Opera */
  white-space: -o-pre-wrap; /* newer Opera */
  white-space: pre-wrap; /* Chrome; W3C standard */
  word-wrap: break-word; /* IE */
}

h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.details {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
}
#domain {
  color: rgb(175, 172, 172);
  font-size: 12px;
}
a {
  all: unset;
  cursor: pointer;
}
#details-child {
  position: relative;
  color: rgb(175, 172, 172);
  position: relative;
  float: left;
  text-transform: lowercase;
  word-wrap: break-word;
  flex: 1;
}
.author {
  font-weight: 700;
}
.subreddit {
  font-weight: 700;
}

#body {
  line-height: normal;
  position: relative;
  background-color: #292928;
  padding: 8px;
  border-radius: 4px;
  max-height: 20em;
  overflow: auto;
  width: 101.1%;
  margin: 0;
  font-size: 16px;
  color: white;
}

#body-parent {
  position: relative;
}
#upvote {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #292928;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 4px;
  margin: 3px 0 0;
}
#view-on-reddit {
  position: relative;
  color: rgb(175, 172, 172);
  width: fit-content;
  font-weight: 700;
  margin-right: 10px;
}
#view-on-reddit:hover {
  text-decoration: underline;
}

#self-post {
  max-width: 80px !important;
  height: 100%;

  font-size: 60px;
  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
  background-color: #525253;
  filter: brightness(0.75);
}
#nsfw {
  max-width: 80px !important;
  height: 100%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
  background-color: #525253;
  filter: brightness(0.75);
}
#image {
  max-width: 80px !important;
  height: 100%;

  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-color: #525253;
}

#link-post {
  max-width: 80px !important;
  height: 100%;

  font-size: 60px;
  display: flex;
  justify-content: center;
  min-width: 80px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background-size: contain;
  background-color: #525253;
  filter: brightness(0.75);
}
#link-post .fa {
  font-size: 0.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}
#nsfw .fa {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}
#image-child {
  margin-right: 5px;
  padding-top: 2px;
}
#title {
  font-size: 1.1em;
  margin: 0 0;
  word-break: break-word;
  color: white;
}
#self-post .fa {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}
.image-parent {
  display: flex;
}
#align-vertically {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}
.details > * {
  margin: 3px 0;
}

.details a {
  font-size: 12px;
}
@media only screen and (max-width: 1200px) {
  #item-parent {
    width: 800px;
  }
  #item-hover {
    width: 800px;
  }
  #loader-wrapper {
    width: 778px;
  }
}
@media only screen and (max-width: 900px) {
  #item-parent {
    width: 700px;
  }
  #item-hover {
    width: 700px;
  }
  #loader-wrapper {
    width: 678px;
  }
}
@media only screen and (max-width: 780px) {
  #item-parent {
    width: 600px;
  }
  #item-hover {
    width: 600px;
  }
  #loader-wrapper {
    width: 578px;
  }
}
@media only screen and (max-width: 620px) {
  #item-parent {
    width: 460px;
  }
  #item-hover {
    width: 460px;
  }
  #loader-wrapper {
    width: 438px;
  }
  #body {
    font-size: 16px;
  }
  .parent {
    font-size: 1em;
  }
  p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  #item-parent {
    max-width: 420px;
  }
  #item-hover {
    max-width: 350px;
  }
  #loader-wrapper {
    max-width: 328px;
  }
}
