@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

#loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;

  width: 60px;
  height: 60px;
  margin-top: 3em;
  margin-left: -15px;
  border-radius: 50%;
  border: 3px solid #161615;
  border-top-color: white;
  animation: spinner 0.8s linear infinite;
}
#loader-parent {
  display: flex;
  justify-content: center;
  margin-right: 4.7em;
}
