#loading {
  border: 3px solid #161615;
  border-top: 3px solid #eee;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  position: relative;
  top: 3px;
  transform-style: preserve-3d;
  transform: perspective(1px) translateZ(0);
}
#loading-text {
  color: #eee;
  text-align: center;
  padding: 10px;
  border: 3px solid #161615;

  font-size: 15px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader-parent {
  display: flex;
  justify-content: center;
}
