input:not([type="submit"]) {
  max-height: 28px;
  border-radius: 4px 4px 4px 4px;
}

select {
  max-height: 28px;
}
input:not([type="submit"]) {
  font-size: 14px;
  background-color: #222;
  border: none;
  width: 260px;
  color: #eee;
  padding: 5px;
}
input[type="submit"] {
  font-size: 1em;
  height: 38px;
  padding: 8px 16px;
  border: 0 none;
  cursor: pointer;
  background-color: #222;
  color: #eee;
  border-radius: 4px;
}
.advanced-input {
  width: 65px !important;
}

#developer-row {
  display: flex;
  display: none;
}
#developer-row input {
  width: 210px;
}
#api-wrapper {
  display: none;
}
#advanced-api-search {
  width: 90px !important;
}
#advanced-row {
  display: flex;
  display: none;
}
input:hover {
  background-color: #2a2a2a;
}
.light-form {
  border: 1px solid white !important;
}
.light-search-tag {
  background-color: #0069c0 !important;
  color: rgba(255, 255, 255, 0.815) !important;
}
.light-search-tag .fa {
  color: rgba(255, 255, 255, 0.815) !important;
}
#form-light input {
  background-color: #6bbef99d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
}
#form-light input:hover {
  background-color: #6bbef9d0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#form-light .fa {
  color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#form-light input::placeholder {
  color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#form-light select {
  background-color: #6bbef99d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#form-light select option {
  background: #1a1c1f70 !important;
}
#form-parent {
  position: relative;
  margin-top: 7em;
  border: 1px#555 solid;
  border-radius: 10px;
  width: 960px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: max-content;
  min-height: 5px;
  min-width: min-content;
}
#search-query-maximized {
  z-index: 2;
}
#search-query-minimized {
  opacity: 0.6;
  z-index: 2;
}

#search-query-minimized:hover {
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  input:not([type="submit"]) {
    width: calc(100% - 2px);
  }
}
@media only screen and (max-width: 900px) {
  input:not([type="submit"]) {
    width: calc(100% - 2px);
  }
}
@media only screen and (max-width: 780px) {
  input:not([type="submit"]) {
    width: calc(100% - 2px);
  }
  #form-parent select {
    width: calc(100% - 2px);
  }
  #form-hover select {
    width: calc(100% - 2px);
  }
}
@media only screen and (max-width: 620px) {
  #form-parent select {
    width: calc(100% - 2px);
  }
  #form-parent {
    padding-right: 10px;
  }
  #form-hover select {
    width: calc(100% - 2px);
  }
  #form-hover {
    padding-right: 10px;
  }
  #row-1 input {
    width: calc(100% - 2px);
  }
  #row-2 input {
    width: calc(100% - 2px);
  }
  #row-3 input {
    width: calc(100% - 2px);
  }
  #developer-row input {
    width: calc(100% - 2px);
  }
}
#form-hover {
  position: relative;
  margin-top: 7em;
  border: 1px #555 solid;
  border-radius: 10px;
  width: 960px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: max-content;
  min-height: 5px;
  min-width: min-content;
}

.form-minimize {
  max-height: 0;
  -webkit-transition: all 0.5s -0.1s ease-out;
  -moz-transition: all 0.5s -0.1s ease-out;
  -o-transition: all 0.5s -0.1s ease-out;
  -ms-transition: all 0.5s -0.1s ease-out;
  transition: all 0.5s -0.1s ease-out;
  overflow: hidden !important;
  z-index: 999;
}

.form-maximize {
  max-height: 500px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden !important;
  z-index: 999;
}

span.fa {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  font-size: small;
  color: black;
  margin: 8px;
  white-space: nowrap;
}
select {
  background: 0;
  background-color: #222;
  color: #eee;
  border: 0;
  vertical-align: top;
  height: 20px;
  border-radius: 4px 4px 4px 4px;
  width: 260px;
}
#score-input-box {
  width: 105px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select:hover {
  background-color: #2a2a2a;
}

input,
select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
}

* {
  outline: 0;
}

#row-1 {
  display: flex;
  flex-direction: row;
}
.row-wrapper {
  position: relative;
  margin: 4px;
}
#amnt-ret {
  width: 105px;
}
label {
  color: white;
  display: block;
  margin-bottom: 4px;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 700;
}
#row-2 {
  display: flex;
  flex-direction: row;
}

#row-3 {
  display: flex;
  flex-direction: row;
}
#row-4 {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1200px) {
  #form-parent {
    width: 800px;
  }
  #form-hover {
    min-width: 0;

    width: 800px;
  }
}
@media only screen and (max-width: 900px) {
  #form-parent {
    width: 700px;
  }
  #form-hover {
    min-width: 0;

    width: 700px;
  }
}
@media only screen and (max-width: 780px) {
  #form-parent {
    width: 600px;
  }
  #form-hover {
    min-width: 0;

    width: 600px;
  }
}
@media only screen and (max-width: 620px) {
  #form-parent {
    width: 92vw;
  }
  #form-hover {
    min-width: 0;

    width: 92vw;
    z-index: 0;
  }
}
